<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <%= htmlWebpackPlugin.options.title %> <%= require('html-loader!./header.ejs').default %>
  </body>
  <script></script>
</html>
